
  img{
        
    position: fixed; 
    top: 15px;
    right: 15px;
}
body{
    background-color: rgb(23, 79, 127);
}

.non { border:2px solid black;
width: 100px;
height: 100px;
display:  inline-block;
background-color:rgb(255, 0, 247);
font-size: 80px;
text-align: center;

}


.dou{
display:none;
}
